;; {:storage {:source :git
;;            :repo-path  "../mschaef-blog"}
;;  :development-mode true}
{:storage {:source :file
           :article-root  "../mschaef-blog"
           :exclude-prefix "../mschaef-blog/.git"}
 :development-mode true

 :blog-overrides {:base-url "http://localhost:8080"}}
