<html>

<title>Points</title>

<body>

<h1>List of Points</h1>

<list>
   <% obj.forLocalDataKeys(function(key) { %>
      <li><a href="./<%=key%>"><%=key%></a>
   <% }); %>
</list>

<form action="." method="post">
  <table><tr>
     <td>X:</td>
     <td><input type="text" name="x"/></td>
     <td>Y:</td>
     <td><input type="text" name="y"/></td>
  </tr></table>
  <input type="submit" name="submit"/>
</form>

</html>
