<html>

<title>Welcome RhinoWiki</title>

<body>

<h1>Welcome to RhinoWiki</h1>

<p>
  Welcome to RhinoWiki!  RhinoWiki is a wiki that is designed to work with structured
  data in addition to text. In addition to design documents, technical project
  teams often find themselves working with defect lists, issue lists, project schedules,
  team rosters, and a variety of other types of semi-structured information. This information
  does not fit cleanly into a purely text based model, so traditional Wikis fall short
  when manging these other kinds of data. RhinoWiki fills the gap by adding tools for
  structured data to the traditional Wiki.
</p>

<p>
  RhinoWiki achieves this goal by representing Wiki pages as JSON objects instead
  of plain text. JSON provides additional structured data types (arrays, hash tables,
  dates, etc.) that make it much easier to model the form of the underlying data than
  raw streams of text.  To make it possible for users to interact with this data, RhinoWiki
  then provides standard means for rendering JSON objects into more user-friendly
  representations. The result is a system that works like a Wiki, but one that easily
  supports more complex data types.
</p>

<p>
  The current implementation of RhinoWiki contains two main sets of information. The
  first is the project <a href="./defects">defect list</a>, and the second is a
  traditional <a href="./wiki">wiki</a> with more information on the design of the
  RhinoWiki. As you explore, please note the pervasiveness of hyperlinking and
  editability. Those are core to the way RhinoWiki supports the dialog necessary to
  implement a complex system.
</p>

<p>
  Please have fun exploring the tool, and be sure to let me know what
  you think. I you would like to see how RhinoWiki works, source code is
  available
  <a href="https://github.com/mschaef/rhinowiki">on Github</a>.  I can
  be reached at
  <a href="mailto:mike@mschaef.com">mike@mschaef.com</a>.
</p>

<hr>

</html>
