;; Rhinowiki Configuration File

{:http-port 8089
 :log-path "/var/log/rhinowiki/rhinowiki.log"

 :sites {"mschaef.com" {:source :git
                        :repo-path "/home/git/mschaef-blog.git"}}}
